@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes colorPulse {
    0%, 100% {
    color: #ffffff; 
    }
    50% {
    color: #1e3a8a;
    }
}

@keyframes colorFade {
    0%, 100% {
    color: white;
    }
    50% {
    color: #2563eb; 
    }
}

.animate-colorFade {
  animation: colorFade 2s ease-in-out infinite;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}
body {
  background-color: #0D1117;
  margin: 0;
  padding: 0;
}
@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
}
.animate-float { animation: float 3s ease-in-out infinite; }
html {
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
@keyframes marquee {
  0%   { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-100%, 0, 0); }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
  will-change: transform;
}

